<h1>About Us</h1>
<hr/>
<p>This website is being made as an A-level Computing project/n
The purpose of the site is to provide a secure educational environment in which students can get help from their peers
and Teachers. They do this by sending a request. A teacher will then respond by creating a "Resource" found on "The Shelf".
Each resource has a comment section to give helpful tips or to ask additional questions.</p>
