<div class="container" align="center">
  <h1>Welcome to PaTCH</h1>
  <h4>The site filling the holes in your knowledge</h4>
  <hr/>
  <h2>Not long now! &#9731;</h2>
  <embed src="http://countdown.flashbannernow.com/xmascountdown_v4fb.swf" width="380" height="230" AllowScriptAccess="always" FlashVars="autostart=false" bgcolor="#008500" type="application/x-shockwave-flash"/>
  <hr/>
  <h2>Currently this site is being created by monkeys on macbooks</h2>
  <a href="http://alohonyai.blogspot.co.uk/2014/06/infinite-monkeys-and-alphabet.html"><img src="http://media.npr.org/assets/img/2013/12/10/istock-18586699-monkey-computer_brick-16e5064d3378a14e0e4c2da08857efe03c04695e.jpg" title="Source: To engineer is Human"/></a>
  <hr/>
</div>